<header class="hero-unit" id="banner">
  <div class="container">
    <p class="lead">Enter your credentials</p>
  </div>
</header>
<div class="login form-group">
  <div name="loginForm" class="input-group">
    {{$ctrl.message}} ueou
      <input title="name" ng-model="login.name" type="text" placeholder="Name" class="form-control"/>
      <input title="pin" ng-model="login.pin" type="password" placeholder="PIN" class="form-control"/>
  </div>
  <button type="button" class="btn btn-primary" ng-click="$ctrl.sendLogin(login)">Login</button>
</div>
<script>
  console.log("login page has been rendered")
</script>
